body {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: #2c2f33;
    color:	#ffffff;
}
a:link{
    background-color: transparent;
    color: #0000FF;
}

a:visited{
    background-color: transparent;
    color: #00FFFF;
}

a:hover{
    background-color: transparent;
    color: #00FFFF;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}